{% load i18n %}
<html>
  
<head>
    <title>
      {% block title %}JukeTube{% endblock %}
    </title>
<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700"
	media="all" rel="stylesheet" type="text/css" />
<link href="/static/seven/css/bootstrap.min.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/font-awesome.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/se7en-font.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/isotope.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/jquery.fancybox.css" media="all"
	rel="stylesheet" type="text/css" />
<link href="/static/seven/css/typeahead.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/pygments.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/style.css" media="all" rel="stylesheet"
	type="text/css" />
<link href="/static/seven/css/style_juke.css" media="all" rel="stylesheet"
	type="text/css" />
	
{% block headjs %}{% endblock %}

<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>
  <body>
    <div class="modal-shiftfix">
    
      <!-- Navigation -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
          <div class="pull-right">
            <ul class="nav navbar-nav pull-right">        
          	{% if user.is_authenticated %}
              <li class="dropdown notifications hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-flag"></span>
                  <div class="sr-only">
                    Notifications
                  </div>
                  <p class="counter">
                    1
                  </p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New Feature
                    </p></a>
                    
                  </li>                  
                </ul>
              </li>
                <!-- 
              <li class="dropdown messages hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-envelope"></span>
                  <div class="sr-only">
                    Messages
                  </div>
                  <p class="counter">
                    0
                  </p>
                </a>
                <ul class="dropdown-menu messages">
                  <li><a href="#">
                    <img width="34" height="34" src="#" />Welcome to Juketube</a>
                  </li>
                </ul> 
              </li>-->
              <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                {% if user.avatar %}<img width="34" height="34" src="{{ user.avatar.url }}" />{% endif %}
                {{user}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <i class="icon-user"></i>My Account</a>
                  </li>
                  <li><a href="#">
                    <i class="icon-gear"></i>Account Settings</a>
                  </li>
                  <li><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">
                    <i class="icon-signout"></i>Logout</a>
                  </li>
                </ul>
              </li>
            {% else %}
            <li>
            	<a href="{% url 'auth_login' %}">Login</a>
            </li>
            <li>
            	<a href="{% url 'registration_register' %}">Register</a>
            </li>
          	{% endif %}
            </ul>
          </div>
          <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="index-2.html">se7en</a>
          
            <ul class="nav navbar-nav left-ico">
              <li>
                <a href="/"><span aria-hidden="true" class="se7en-home"></span>Home</a>
              </li>
              <li><a href="#about">
                <span aria-hidden="true" class="se7en-feed"></span>About</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-star"></span>Playlists<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'create_playlist' %}">Create</a></li>
                  <li><a href="{% url 'all_playlists' %}">Discover</a></li>
                  <li><a href="{% url 'my_playlists' %}">My Playlists</a></li>
                </ul>
              </li>              
            </ul>
        </div>
        <div class="container-fluid main-nav clearfix">
          <div class="nav col-md-12">
          	<form class="input-group navbar-form form-inline">
				<input class="form-control" type="text" id="search" placeholder="Search...">
				<span class="input-group-btn"><button class="btn btn-default" type="button">Go</button></span>
			</form>
          </div>
        </div>
      </div>
      <!-- End Navigation -->
      
      <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            {% block pagetitle %} Juketube {% endblock %}
          </h1>
        </div>
        {% block content %} {% endblock %}
      </div>
    </div>
    
    
	
<script src="http://code.jquery.com/jquery-1.10.2.min.js"
	type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"
	type="text/javascript"></script>
<script src="/static/seven/js/youtube_local.js" type="text/javascript"></script>
<script src="/static/seven/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/seven/js/selectivizr-min.js" type="text/javascript"></script>
<script src="/static/seven/js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="/static/seven/js/excanvas.min.js" type="text/javascript"></script>
<script src="/static/seven/js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="/static/seven/js/isotope_extras.js" type="text/javascript"></script>
<script src="/static/seven/js/modernizr.custom.js" type="text/javascript"></script>
<script src="/static/seven/js/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="/static/seven/js/jquery.inputmask.min.js" type="text/javascript"></script>
<script src="/static/seven/js/jquery.validate.js" type="text/javascript"></script>
<script src="/static/seven/js/typeahead.js" type="text/javascript"></script>
<script src="/static/seven/js/skycons.js" type="text/javascript"></script>
<script src="/static/seven/js/fitvids.js" type="text/javascript"></script>
<script src="/static/seven/js/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="/static/seven/js/main.js" type="text/javascript"></script>
<script src="/static/seven/js/respond.js" type="text/javascript"></script>
    <!-- page js-->
	{% block pagejs %} {% endblock %}
  </body>

</html>