{% extends "seven/base.html" %}
{% load i18n %}
{% block pagetitle %} Random Playlists{% endblock %}
{% block content %}
<div class="row">
	<div class="form-group">
            <label class="control-label col-md-2">Search</label>
            <div class="col-md-7">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search a playlist..."><span class="input-group-btn"><button class="btn btn-default" type="button">Go</button></span>
              </div>
            </div>
          </div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="widget-container fluid-height">
			<div class="heading">
				<i class="fa fa-picture-o"></i>Random Playlists
			</div>
			<div class="widget-content padded">
				<ul class="gallery-grid gallery-playlist clearfix">
					<li>
						<figure>
							<img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg">
							<div class="playlist-info"><p>Sounds Of Africa<p> 4 Medias</div>
							<div class="caption">
								<div>by Tidileboss</div>
								<span>Stromae - Papaoutai</span>, 
								<span>Stromae</span>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg">
							<div class="playlist-info"><p>Sounds Of Africa<p> 4 Medias</div>
							<div class="caption">
								<div>by Tidileboss</div>
								<span>Stromae - Papaoutai</span>, 
								<span>Stromae</span>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg">
							<div class="playlist-info"><p>Sounds Of Africa<p> 4 Medias</div>
							<div class="caption">
								<div>by Tidileboss</div>
								<span>Stromae - Papaoutai</span>, 
								<span>Stromae</span>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg">
							<div class="playlist-info"><p>Sounds Of Africa<p> 4 Medias</div>
							<div class="caption">
								<div>by Tidileboss</div>
								<span>Stromae - Papaoutai</span>, 
								<span>Stromae</span>
							</div>
						</figure>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block pagejs %}
<script type="text/javascript">
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var ytplayer;
function onYouTubeIframeAPIReady() {
  ytplayer = new YT.Player('ytapiplayer', {
    height: '200',
    width: '300',
    videoId: 'Tt3Ny1u7CPI'
  });
}
	var params = {
		allowScriptAccess : "always"
	};
	var atts = {
		id : "myytplayer"
	};
	swfobject
			.embedSWF(
					"http://www.youtube.com/v/Tt3Ny1u7CPI?enablejsapi=1&playerapiid=ytplayer&controls=1&showinfo=0&theme=light&version=3",
					"ytapiplayer", "300", "200", "8", null, null, params, atts);
</script>
<script src="static/js/youtube_local.js"></script>
<script src="static/js/youtube.js"></script>
{% endblock %}