{% extends "seven/base.html" %}
{% load i18n %}
{% block pagetitle %} Remote Controlling: Sounds of Africa{% endblock %}
{% block content %}
<div class="row">
</div>
<div class="row">
       <div class="col-md-3">
       <div class="widget-container fluid-height list green">
         <div class="heading">
           <i class="glyphicon glyphicon-list"></i>Search Results
         </div>
         <div class="widget-content padded">
         	<table class="table table-filters table-list">
                <tbody>
                  <tr>
                    <td class="thumbvideo">
                      <div class="arrow-left"></div>
                      <a href="#"><img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg" alt="Miniature" width="100%"></a>
                    </td>
                    <td>
                      <a href="#">Stromae - Papaoutai</a>
                    </td>
                    <td>
                      <div class="cueButton">
                        <a href="#"><i class="icon-plus pull-right"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="thumbvideo">
                      <div class="arrow-left"></div>
                      <a href="#"><img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg" alt="Miniature" width="100%"></a>
                    </td>
                    <td>
                      <a href="#">Stromae - Papaoutai</a>
                    </td>
                    <td>
                      <div class="cueButton">
                        <a href="#"><i class="icon-plus pull-right"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="thumbvideo">
                      <div class="arrow-left"></div>
                      <a href="#"><img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg" alt="Miniature" width="100%"></a>
                    </td>
                    <td>
                      <a href="#">Stromae - Papaoutai</a>
                    </td>
                    <td>
                      <div class="cueButton">
                        <a href="#"><i class="icon-plus pull-right"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
         </div>
         </div>
       </div>

	<div class="col-md-6">
		<div class="widget-container fluid-height list green">
			<div class="heading">
				<span class="glyphicon glyphicon-facetime-video"></span>Video 
				<span
					class="glyphicon glyphicon-step-forward pull-right"></span> <span
					class="glyphicon glyphicon-play pull-right"></span> <span
					class="glyphicon glyphicon-stop pull-right"></span> <span
					class="glyphicon glyphicon-step-backward pull-right"></span>
			</div>
			<div class="widget-content padded text-center remote-controls">
				<a href="#"><span class="glyphicon glyphicon-step-backward"></span></a>
				<a href="#"><span class="glyphicon glyphicon-stop"></span></a>
				<a href="#"><span class="glyphicon glyphicon-play"></span></a>
				<a href="#"><span class="glyphicon glyphicon-step-forward"></span></a> 
				<div class="row">
				Current Song: Mama Mia
				</div>
			</div>
			<div class="widget-content padded">
         	<table class="table table-filters table-list table-playlist">
                <tbody>
                  <tr>
                    <td class="thumbvideo">
                      <div class="arrow-left"></div>
                      <a href="#"><img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg" alt="Miniature" width="100%"></a>
                    </td>
                    <td>
                      <a href="#">Stromae - Papaoutai</a>
                    </td>
                    <td>
                      <h5>3:32</h5>
                    </td>
                    <td>
                      <div class="cueButton">
                        <a href="#"><i class="icon-plus pull-right"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="thumbvideo">
                      <div class="arrow-left"></div>
                      <a href="#"><img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg" alt="Miniature" width="100%"></a>
                    </td>
                    <td>
                      <a href="#">Stromae - Papaoutai</a>
                    </td>
                    <td>
                      <h5>3:32</h5>
                    </td>
                    <td>
                      <div class="cueButton">
                        <a href="#"><i class="icon-plus pull-right"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="thumbvideo">
                      <div class="arrow-left"></div>
                      <a href="#"><img src="//i1.ytimg.com/vi/oiKj0Z_Xnjc/mqdefault.jpg" alt="Miniature" width="100%"></a>
                    </td>
                    <td>
                      <a href="#">Stromae - Papaoutai</a>
                    </td>
                    <td>
                      <h5>3:32</h5>
                    </td>
                    <td>
                      <div class="cueButton">
                        <a href="#"><i class="icon-plus pull-right"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="widget-container fluid-height">
			<div class="heading">
				<i class="glyphicon "></i>Peoples
			</div>
			
         	<table class="table">
                <th>
                	Controllers
                </th>
                  <tr>
                    <td>
                      <a href="#">Tidileboss</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">Tidileboss</a>
                    </td>
                  </tr>
                  <th>
                	Listeners
                </th>
                  <tr>
                    <td>
                      <a href="#">Tidileboss</a>
                    </td>
                  </tr>
              </table>
		</div>
	</div>
</div>

{% endblock %}

{% block pagejs %}
<script type="text/javascript">
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var ytplayer;
function onYouTubeIframeAPIReady() {
  ytplayer = new YT.Player('ytapiplayer', {
    height: '200',
    width: '300',
    videoId: 'Tt3Ny1u7CPI'
  });
}
	var params = {
		allowScriptAccess : "always"
	};
	var atts = {
		id : "myytplayer"
	};
	swfobject
			.embedSWF(
					"http://www.youtube.com/v/Tt3Ny1u7CPI?enablejsapi=1&playerapiid=ytplayer&controls=1&showinfo=0&theme=light&version=3",
					"ytapiplayer", "300", "200", "8", null, null, params, atts);
</script>
<script src="static/js/youtube_local.js"></script>
<script src="static/js/youtube.js"></script>
{% endblock %}