{% extends "seven/base.html" %}
{% load i18n %}
{% block pagetitle %} {{playlist}} <span class="pull-right">Slug: <em>{{playlist.slug}}</em></span>
{% if not is_listener %} <a href="{% url 'join_playlist' playlist.id %}"><button type="button" class="btn btn-info" id="joinButton">Be a Listener</button></a> {% endif %}
{% endblock %}
{% block content %}
  <form id="toQueue" action="/updatePlaylist/" method="post">{% csrf_token %}
	  <input type="hidden" id="idmedia" name="idmedia">
	  <input type="hidden" id="title" name="title">
  	  <input type="hidden" id="length" name="length">
  	  <input type="hidden" id="position" name="position">
	  <input type="hidden" id="operation" name="operation">
	  <input type="hidden" id="playlist_id" name="playlist_id" value="{{playlist.id}}">
	  <input type="hidden" id="playlist_slug" name="playlist_slug" value="{{playlist.slug}}">
  </form>
  
<div class="row">
Currently listening: <span id="current-listeners"></span>
<span class="pull-right" id="connection-status"><em>Connecting...</em></span>
<!-- <button class="btn" id="ping">Ping</button>  -->
</div>
<div class="row">
	<div class="col-md-3">
		<div class="widget-container fluid-height list green">
			<div class="heading">
				<i class="glyphicon glyphicon-list"></i>Search Results
			</div>
			<div class="widget-content padded">
				<table class="table table-filters table-list" id="results-table">
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="widget-container fluid-height list green">
			<div class="heading">
				<span class="glyphicon glyphicon-facetime-video"></span>Video <span
					class="glyphicon glyphicon-step-forward pull-right"></span> <span
					class="glyphicon glyphicon-play pull-right"></span> <span
					class="glyphicon glyphicon-stop pull-right"></span> <span
					class="glyphicon glyphicon-step-backward pull-right"></span>
					<a class="pull-right" href="{% url 'shared_playlist' playlist.slug%}">Normal</a>
			</div>
			<div class="widget-content padded">
				<div class="form-group">
		            <label class="control-label col-md-2">Remote Player</label>
		            <div class="col-md-7">
						<select class="form-control" id="jukebox-select"></select>
					</div>
	          	</div>	
			</div>
			<div class="widget-content padded">
				<table class="table table-filters table-list table-playlist"
					id="playlist-table">
					{% for media in playlist.playlistmedia_set.all %}
					<tr id="{{ media.media.media_id }}">
						<td class="thumbvideo">
							<div class="arrow-left"></div>
							<a href='javascript:loadVideo("{{ media.media.media_id }}");'>
							<img src="http://i.ytimg.com/vi/{{ media.media.media_id }}/hqdefault.jpg" alt="Miniature" width="100%"></a>
						</td>
						<td class="track-title">
							<a href='javascript:loadVideo("{{ media.media.media_id }}");'>{{ media.media.name }}</a>
						</td>
						<td class="track-time"><h5>{{ media.media.time }}</h5></td>
						{% if is_listener %}<td><div class="cueButton"><a href='javascript:removeVideo("{{ media.media.id }}","{{ media.position }}");'><i class="icon-minus pull-right"></i></a></div></td>{% endif %}
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="widget-container fluid-height list">
			<div class="heading">
				<i class="glyphicon glyphicon-time"></i>Next Video
			</div>
			<div class="widget-content padded" id="next-video">
				<div class="next-video-img">
					<a href="#"><img src="http://i.ytimg.com/vi/{{ playlist.medias.all.0.media_id }}/hqdefault.jpg" alt="Next Video" width="100%"></a>
				</div>
				<div class="next-video-infos">
					<a href="#"><strong>{{ playlist.medias.all.0 }}</strong></a>
					<h5>{{ playlist.medias.all.0.time }}</h5>
				</div>
			</div>

			<table class="table table-filters table-list" id="playlist-table2">
			{% for media in playlist.playlistmedia_set.all %}
				<tr id="{{ media.media.media_id }}">
				<td class="thumbvideo">
					<div class="arrow-left"></div>
					<a href='javascript:loadVideo("{{ media.media.media_id }}");'>
					<img src="http://i.ytimg.com/vi/{{ media.media.media_id }}/hqdefault.jpg" alt="Miniature" width="100%">
					</a>
				</td>
				<td class="track-title"><a href='javascript:loadVideo("{{ media.media.media_id }}");'>{{ media.media.name }}</a></td>
				<td class="track-time"><h5>{{ media.media.time }}</h5></td>
				{% if is_listener %}<td><div class="cueButton"><a href='javascript:removeVideo("{{ media.media.id }}","{{ media.position }}");'><i class="icon-minus pull-right"></i></a></div></td>{% endif %}
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>

<div class="row" id="about">
<h1>Settings</h1>
	<div class="col-md-6">
		<div class="well">
			<h3>Creator: <a href="#">{{playlist.creator}}</a></h3>
			<p>Name: {{playlist}}
			<p>Public: {{playlist.public}}
			<p>{{playlist.medias.count}} Medias
			<p>Registered: 
			{% for listener in playlist.listeners.all %}
			<a href="#">{{ listener }} </a>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="well form-horizontal">
		<h3>JukeBox Mode</h3>
			<div class="form-group">
	            <label class="control-label col-md-2">Activate</label>
	            <div class="col-md-7">
	              <label class="checkbox"><input id="jukebox_mode" name="jukebox_mode" type="checkbox"><span></span></label>
	            </div>
          	</div>
          	<div class="form-group" style="display:none;">
	            <label class="control-label col-md-2">Jukebox Name</label>
	            <div class="col-md-7">
	              <input class="form-control" id="jukebox_name" name="jukebox_name" placeholder="Enter a name" type="text">
	              <button class="btn" id="jukebox_name_ok">OK</button>
	            </div>
          	</div>
		</div>
	</div>
</div>

{% endblock %}

{% block pagejs %}
<script src="/static/seven/js/juketube.js" type="text/javascript"></script>
{% endblock %}

{% block headjs %}
{% if playlist.editable %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="http://192.168.1.102:4000/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('/', {
		port : 4000
	});
	var playlist_slug = "{{playlist.slug}}";

	socket.on('connect', function() {
		$('#connection-status').html("<em>Connected<em>");
		console.log("connected");
		socket.emit('playlist', playlist_slug);
		socket.emit('new-user', '{{user}}');
	});

	socket.on('refresh', function(message) {
		refreshPlaylist("{{playlist.id}}");
	});
	
	socket.on('users-list', function(list) {
		var user_list = "";
		for (var key in list) {
			   var obj = list[key];
			   user_list = user_list + "<a href='#'> " + obj +"</a>,";
			}
		$("#current-listeners").html(user_list.slice(0, -1));
	});
	
	socket.on('rcv_command', function(func, param) {
		//Create the function
		var fn = window[func];
		 
		//Call the function
		fn(param);
	});
	
	socket.on('jukebox-list', function(message) {
		var options = $("#jukebox-select");
		for (var key in message) {
		    options.append($("<option />").val(key).text(key));
		};
	});

	$(document).ready(function() {

		var entry_el = $('#ping');
		//console.log(entry_el);
		socket.emit('get_jukeboxes', playlist_slug);

		entry_el.click(function() {
			//When enter is pressed send input value to node server
			//var recver = "tab2";
			//console.log("msg envoye");
			if (playlist_slug) {
				socket.emit('send_command', playlist_slug, $("#jukebox-select").val(), "loadVideo", "LTs7djCH5yE");
			}
		});
	});
</script>
{% endif %}
{% endblock %}