{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="starter-template">
  <h1>{% trans "Rechercher" %}</h1>
  <form id="ajax2" action="/search/" method="post">{% csrf_token %}
  <input type="text" class="form-control" id="search" name="search" placeholder="Enter your query...">
  </form>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>RESULTATS</h3>
		<ul class="list-group" id="results-table">
        </ul>
	</div>
	<div class="col-md-4">
		<h3>PLAYLIST <a href="javascript:clearPlaylist();"><span class="badge">Clear</span></a></h3>
		<ul class="list-group" id="playlist-table">
        </ul>
	</div>
	<div class="col-md-4">
		<h3>VIDEO</h3>
		<div>
		<ul class="pager">
          <li><a href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
          <li><a href="javascript:stop()"><span class="glyphicon glyphicon-stop"></span></a></li>
          <li><a href="javascript:play();"><span class="glyphicon glyphicon-play playbutton"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>
	    </div>
		<script type="text/javascript" src="/static/js/swfobject.js"></script>    
		  <div id="ytapiplayer">
		    You need Flash player 8+ and JavaScript enabled to view this video.
		  </div>
	</div>
</div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var ytplayer;
function onYouTubeIframeAPIReady() {
  ytplayer = new YT.Player('ytapiplayer', {
    height: '200',
    width: '300',
    videoId: 'Tt3Ny1u7CPI'
  });
}
	/*var params = {
		allowScriptAccess : "always"
	};
	var atts = {
		id : "myytplayer"
	};
	swfobject
			.embedSWF(
					"http://www.youtube.com/v/Tt3Ny1u7CPI?enablejsapi=1&playerapiid=ytplayer&controls=1&showinfo=0&theme=light&version=3",
					"ytapiplayer", "300", "200", "8", null, null, params, atts);*/
</script>
<script src="static/js/youtube_local.js"></script>
<script src="static/js/youtube.js"></script>
{% endblock %}