{% load i18n %}
<html>
  
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}JukeTube{% endblock %}
    </title>
	<!-- Bootstrap -->
    <link href="/static/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom style-->
    <link href="/static/juketube/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	{% block headjs %}{% endblock %}

	</head>
    <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          <span class="dropdown">
	          <a class="blog-nav-item" id="test-click" data-toggle="dropdown" href="#">Playlists <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{% url 'create_playlist' %}">Create</a></li>
	            <li><a href="{% url 'my_playlists' %}">My Playlists</a></li>
	          </ul>
          </span>
          <a class="blog-nav-item" href="{% url 'all_playlists' %}">Discover</a>
          <span class="search-input">
            <span class="glyphicon glyphicon-search"></span>
            <input class="search-box" type="text" placeholder="Search..." value="" id="search">
            <div class="search-results" id="search-results">
              <div class="result">
                Search something
              </div>
            </div>
          </span>
          <span id="slug-name" class="hidden-xs hidden-sm">{% block slug %}{% endblock %}</span>
          {% block dropdownplaylist %}{% endblock %}
          {% if user.is_authenticated %}
          <!-- <a class="blog-nav-item pull-right dropdown-toggle" href="#" id="dropdownMenu1" data-toggle="dropdown">{{user}}</a> -->
				<div class="dropdown pull-right">
					<a class="blog-nav-item dropdown-toggle" href="#" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu"
						aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1"
							href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">Log Out</a></li>
					</ul>
				</div>
		  {% else %}
          <a class="blog-nav-item pull-right" href="{% url 'auth_login' %}">Login</a>
          {% endif %}
        </nav>
      </div>
    </div>

  <div class="main">
    <div class="controllers">
      <div class="container">
        <div class="controls col-xs-12 col-sm-4 col-md-3">
            <span class="glyphicon glyphicon-fullscreen"></span>
            <span class="glyphicon glyphicon-fast-backward" id="control-back"></span>
            <span class="glyphicon glyphicon-play" id="control-play"></span>
            <span class="glyphicon glyphicon-fast-forward" id="control-next"></span>
        </div>
        <div class="info col-xs-12 col-sm-8 col-md-6">
          <div class="">
            <div class="row ">
              <div class="media-img  pull-left  col-md-2 " id="current-img">
                <img src="http://img.youtube.com/vi/ZYorWVrr63E/0.jpg" height="50"> 
              </div>
              <div class="media-body   col-sm-10 col-md-10  ">
                <h4 class="media-heading" id="current-title"> </h4>
                <span id="time-elapsing"></span>
                <div class="player-time"><span id="time-elapsed"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-3 hidden-sm">
        <h2 class="pull-right">{% block playlistname %}{% endblock %}</h2>
        </div>
      </div>
    </div>
      <!-- End Navigation -->
        
     {% block content %} {% endblock %}

<!-- <div id="recommendations">
	<div class="container">
		<h1>Hot Playlists</h1>

		<div class="col-md-4">
			<div class="media">
				<div class="row ">
					<div class="media-img  pull-left  col-sm-5  col-md-4 ">
						<div class="img-overlay ">
							<a
								class="btn  btn-primary  animated fadeInUp glyphicon glyphicon-play"
								href="#" rel="bookmark"></a>
						</div>
						<img src="http://img.youtube.com/vi/yOxFl4dna3o/0.jpg" alt="About"
							width="150" height="150">
					</div>
					<div class="media-body   col-sm-7 col-md-8  ">
						<h4 class="media-heading">
							<a href="/about/">Ghost Dog</a>
						</h4>
						<p class="hidden-sm">The Way of the Samurai</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
     -->
 <footer class="">
    Copyright 2014 SmallAxe Tous droits Reserves
  </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script src="/static/juketube/js/jquery.nicescroll.js"></script>
    <script src="/static/juketube/js/linked-list.js"></script>
    {% block pagejs %} {% endblock %}
    <script src="/static/juketube/js/controller.js"></script>
    <script src="/static/juketube/js/juketube.js"></script>
  </body>
</html>    
