<div class="controllers">
	<div class="container">
		<div class="controls col-sm-4 col-md-3">
			<span class="glyphicon glyphicon-fullscreen"></span> <span
				class="glyphicon glyphicon-fast-backward" id="control-back"></span>
			<span class="glyphicon glyphicon-play" id="control-play"></span> <span
				class="glyphicon glyphicon-fast-forward" id="control-next"></span>
		</div>
		<div class="info col-sm-8 col-md-6">
			<div class="">
				<div class="row ">
					<div class="media-img  pull-left  col-md-2 " id="current-img">
						<img src="http://img.youtube.com/vi/ZYorWVrr63E/0.jpg" height="50">
					</div>
					<div class="media-body   col-sm-7 col-md-10  ">
						<h4 class="media-heading" id="current-title">Ghost Dog</h4>
						<span id="time-elapsing">0:00 / 4:30</span>
						<div class="player-time">
							<span id="time-elapsed"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>