{% extends "juketube/base.html" %} 
{% load i18n %} 
{% block pagetitle %}JukeTube{% endblock %} 

{% block content %}
<div class="wrapper">
	<div class="dot-mask"></div>
	<div class="container">
		<div class="col-md-8">
			<div class="" id="youtube-player">
				<div id="ytapiplayer">You need Flash player 8+ and JavaScript
					enabled to view this video.</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="media" id="next-song">
				<div class="row video-element loadVideo" yt-id="yOxFl4dna3o">
					<div class="media-img  pull-left col-xs-4 col-sm-2  col-md-4">
						<div class="img-overlay ">
							<a
								class="btn  btn-primary  animated fadeInUp glyphicon glyphicon-play"
								href="#" rel="bookmark"></a>
						</div>
						<img src="http://img.youtube.com/vi/yOxFl4dna3o/0.jpg" alt="About"
							width="150" height="150">
					</div>
					<div class="media-body col-xs-8  col-sm-10 col-md-8 loadVideo ">
						<h4 class="media-heading">
							<a href="#">Next Song</a>
						</h4>
						<p class="">Simply Beatiful</p>
					</div>
				</div>
			</div>

			<div id="playlist">
				<h1>Playlist</h1>
				<span id="clear-playlist" title="Clear Playlist"><span class="glyphicon glyphicon-remove"></span></span>

				<div id="table-playlist"></div>

			</div>

		</div>
	</div>
</div>

</div>

<div id="song-info">
	<div class="container">
		<h1>Song Info</h1>
		<div class="col-md-4">
			<h4>More Informations</h4>
			<div id="info-text"></div>
		</div>
		<div class="col-md-8">
			<h4>Lyrics</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Aenean ut sapien et nibh auctor consequat quis id nulla. Curabitur
				sollicitudin tristique nunc, ornare pharetra magna mattis ac.
				Aliquam tortor nibh, pretium sit amet congue accumsan, suscipit vel
				velit. Duis sed urna eget mi rutrum dapibus. Mauris ut augue sed
				risus semper elementum ut sed justo.
		</div>
	</div>
</div>

{% endblock %}

{% block pagejs %}
<script type="text/javascript">
//player = new YoutubePlayer("ytapiplayer");
	var tag = document.createElement('script');

	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	
	var ytplayer;
	function onYouTubeIframeAPIReady() {
	  ytplayer = new YT.Player('ytapiplayer', {
	    height: '100%',
	    width: '100%',
	    //videoId: 'T0BlXy3Roj4',
	    playerVars: {
	    	'controls': '0',
	    	'modestbranding': '1',
	    	'showinfo': '0',
	    	'autoplay': '0'
	       },
    	events: {
            'onReady': onYouTubePlayerReady,
            'onStateChange': onytplayerStateChange
          }
	  });
	}
	
	function loadVideoPage() {
		data = new Object();
		data.id = "T0BlXy3Roj4";
		data.title = "Method Man - Bring The Pain";
		tr1 = new MediaYoutube(data);
		data.id = "yOxFl4dna3o";
		data.title = "Al Green - Simply Beautiful";
		tr2 = new MediaYoutube(data);
		data.id = "QYN7wFk2zYw";
		data.title = "The Rza - Samurai showdown";
		tr3 = new MediaYoutube(data);
		data.id = "O1OTWCd40bc";
		data.title = "The Weeknd - Wicked Games";
		tr4 = new MediaYoutube(data);

		YT_PLAYLIST.add(tr1);
		YT_PLAYLIST.add(tr2);
		YT_PLAYLIST.add(tr3);
		YT_PLAYLIST.add(tr4);
	}
</script>
{% endblock %}